@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

.aurora {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.aurora::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  border-radius: 50%;

  background: rgba(139, 92, 246, 0.15);

  filter: blur(120px);

  top: 10%;
  right: 10%;

  animation: floatGlow 8s ease-in-out infinite;
}

.aurora::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;

  background: rgba(99, 102, 241, 0.12);

  filter: blur(100px);

  bottom: 10%;
  left: 5%;

  animation: floatGlow 12s ease-in-out infinite;
}

@keyframes floatGlow {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}